Final Deliverables/Final Code/Node-Red/flows.json
[{"id":"ac9e6ad184886c63","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e791d51f8f5649c5","type":"inject","z":"ac9e6ad184886c63","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["89f826db8e77a778"]]},{"id":"b337577ceeabe768","type":"cloudant in","z":"ac9e6ad184886c63","name":"","cloudant":"c21434afa56c67cf","database":"medicine","service":"Cloudant-h8-23515","search":"_id_","design":"","index":"","x":400,"y":60,"wires":[["c9598cd486e11a13"]]},{"id":"fc1e9b8ab90c65ab","type":"cloudant out","z":"ac9e6ad184886c63","name":"","cloudant":"c3cf7d0d9d56e309","database":"medicine","service":"_ext_","payonly":true,"operation":"insert","x":700,"y":360,"wires":[]},{"id":"39c5174e84d207ec","type":"ui_form","z":"ac9e6ad184886c63","name":"","label":"","group":"c2b7d001b83103cd","order":1,"width":0,"height":0,"options":[{"label":"Enter the medicine","value":"name","type":"text","required":true,"rows":null},{"label":"Time(HH:MM) ","value":"time","type":"time","required":true,"rows":null},{"label":"Date(YYYY/MM/DD)","value":"date","type":"date","required":true,"rows":null}],"formValue":{"name":"","time":"","date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":470,"y":520,"wires":[["be40b40b2a27b0de","a7d08bb7e7e4d9cc"]]},{"id":"89f826db8e77a778","type":"function","z":"ac9e6ad184886c63","name":"","func":"var d=new Date()\nvar utc=d.getTime()+(d.getTimezoneOffset()*60000);\nvar offset = 5.5;\nnewDate = new Date(utc+(3600000*offset));\nvar n =newDate.toISOString()\nvar date = n.slice(0,10)\nvar time=n.slice(11,16)\nglobal.set(\"time\",time)\nmsg.payload=date+\" \"+time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":140,"wires":[["b337577ceeabe768"]]},{"id":"be27a4f287349a79","type":"function","z":"ac9e6ad184886c63","name":"","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":60,"wires":[["753a71cd01bf517f"]]},{"id":"ae3740ed090a2d5d","type":"function","z":"ac9e6ad184886c63","name":"","func":"msg.payload = {\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\",\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":420,"wires":[["a19f2c1fa687e0ce"]]},{"id":"c9598cd486e11a13","type":"switch","z":"ac9e6ad184886c63","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":120,"wires":[[],["be27a4f287349a79"]]},{"id":"3bf37842d99948c2","type":"debug","z":"ac9e6ad184886c63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":120,"wires":[]},{"id":"be40b40b2a27b0de","type":"debug","z":"ac9e6ad184886c63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":520,"wires":[]},{"id":"a19f2c1fa687e0ce","type":"delay","z":"ac9e6ad184886c63","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":260,"y":520,"wires":[["39c5174e84d207ec"]]},{"id":"c5bcf7f29be64599","type":"ibmiot out","z":"ac9e6ad184886c63","authentication":"apiKey","apiKey":"7b603bf8891bac1a","outputType":"cmd","deviceId":"1234567890","deviceType":"2.2.2","eventCommandType":"command","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":180,"wires":[]},{"id":"a7d08bb7e7e4d9cc","type":"function","z":"ac9e6ad184886c63","name":"","func":"var d=msg.payload.date\nvar t=msg.payload.time\nvar date=d.slice(0,10)\nvar time=t.slice(10,25)\nvar hit=new Date(date+time)\nhit.setDate(hit.getDate()+1);\nvar utc=hit.getTime()+(hit.getTimezoneoffset()*60000);\nvar offset=5.5\nnewDate= new Date(utc+(3600000*offset));\nvar n=newDate.toISOString()\nvar da=n.slice(0,10)\nvar ti=n.slice(11,16)\nmsg.payload={\n    \"_id\":da+\" \"+ti,\n    \"name\":msg.payload.name,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":400,"wires":[["fc1e9b8ab90c65ab","ae3740ed090a2d5d"]]},{"id":"3b561d7e984ea35b","type":"watson-text-to-speech","z":"ac9e6ad184886c63","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","apikey":"KSTdsMPsUS62SL58EqzaZbAFtEW2JlggKYHUI-NKLuvx","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/10758658-1ffd-49e5-ae59-ffb2aaa3b131","x":880,"y":260,"wires":[["830464e98a3da3e6"]]},{"id":"830464e98a3da3e6","type":"play audio","z":"ac9e6ad184886c63","name":"","voice":"0","x":1070,"y":260,"wires":[]},{"id":"753a71cd01bf517f","type":"function","z":"ac9e6ad184886c63","name":"","func":"var st={\"please take \":msg.payload}\nmsg.payload=JSON.stringify(st)\nmsg.payload=msg.payload.replace(':','');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":140,"wires":[["3bf37842d99948c2","c5bcf7f29be64599","3b561d7e984ea35b"]]},{"id":"c21434afa56c67cf","type":"cloudant","host":"https://apikey-v2-2jzy07gxh6foo2jhn5tfo1k8c12ueqn3weg9kolpkm2n:7b9e69c73c1ff8711d0f323f05376bbd@531665c2-3667-4c6a-8eb7-df74d7359f6a-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"c3cf7d0d9d56e309","type":"cloudant","host":"https://apikey-v2-2jzy07gxh6foo2jhn5tfo1k8c12ueqn3weg9kolpkm2n:7b9e69c73c1ff8711d0f323f05376bbd@531665c2-3667-4c6a-8eb7-df74d7359f6a-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"c2b7d001b83103cd","type":"ui_group","name":"Medicine Details","tab":"ac2a2774050646b1","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7b603bf8891bac1a","type":"ibmiot","name":"IBM IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ac2a2774050646b1","type":"ui_tab","name":"Medicine details","icon":"dashboard","disabled":false,"hidden":false}]